<form [formGroup]="userForm">

  <h2 class="title">Datos Usuario</h2>
  <div class="field">
    <p class="control has-icons-left has-icons-right">     
      <input  formControlName="name" class="input" type="text" placeholder="Nombre y apellido">
      <span class="icon is-small is-left">
        <i class="fa-solid fa-pen"></i>
      </span>      
    </p>
    <!-- <small class="has-text-danger" *ngIf="name.invalid && (name.touched || name.dirty)">
      Campo inválido
    </small>  -->
  </div>

  <div class="field">
    <p class="control has-icons-left has-icons-right">
      <input formControlName="birthdate" class="input" type="date" placeholder="Fecha de nacimineto">
      <span class="icon is-small is-left">
        <i class="fa-solid fa-pen"></i>
      </span>      
    </p>
    <!-- <small class="has-text-danger" *ngIf="birthdate.invalid && (birthdate.touched || birthdate.dirty)">
      Campo inválido
    </small>  -->
  </div>
  <div class="field">
    <p class="control has-icons-left">
      <input formControlName="identification" class="input" type="number" placeholder="Identificación">
      <span class="icon is-small is-left">
        <i class="fa-solid fa-pen"></i>
      </span>
    </p>
    <!-- <small class="has-text-danger" *ngIf="identification.invalid && (identification.touched || identification.dirty)">
      Campo inválido
    </small> -->
  </div>
  <div class="field is-grouped">
    <p class="control">
      <button class="button is-success" (click)="submit()">
        Guardar
      </button>
    </p>  
    <p class="control">
      <button class="button is-info" (click)="clearForm()">
        Cancelar
      </button>
    </p>   
  </div>
</form>